* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    overflow-y: scroll;
}

.city-heading {
    background-color: blue;
    height: 80%;
}

.main-buildings {
    position: relative;
    width: 100%;
    height: 100%;
}

#batman-building {
    position: absolute;
    bottom: 0;
    left: 2%;
    width: 38%;
    height: 55%;
    background-color: black;
}

#parthanon {
    position: absolute;
    bottom: 0;
    right:  2%;
    width: 55%;
    height: 22%;
    background-color: gray;
}

.other-pages {
    background-color: green;
    height: 10%;
}

.main-body {
    background-color: pink;
    height: 100%;
}

@media screen and (min-width: 768px) {
    #batman-building {
        width: 20%;
        height: 70%;
    }
    #parthanon {
        right: 2%;
        width: 30%;
        height: 25%;
    }
    .extra-buildings {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    }
    #ryman {
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 40%;
    height: 35%;
    background-color: teal;
    }
    #extra-building1 {
    background-color: black;
    }
}
