* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    overflow-y: scroll;
}

.city-heading {
    background-color: blue;
    height: 80%;
}

#discord-btn {
    margin: 10px;
    height: 50px;
    width: 50px;
    border: 3px inset black;
}

#discord-btn:hover{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
.main-buildings {
    position: relative;
    width: 100%;
    height: 100%;
}

#batman-building {
    position: absolute;
    bottom: 0;
    left: 2%;
    width: 38%;
    height: 55%;
    background-color: black;
}

#parthanon {
    position: absolute;
    bottom: 0;
    right:  2%;
    width: 55%;
    height: 22%;
    background-color: gray;
}

#main-body {
    background-color: rgb(12, 42, 68);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#welcome, #discord, #meetings, #contact {
    border: 5px inset black;
}
#welcome {
    background-color: red;
    width: 90%;
    height: 500px;
    margin-top: 15px;
}
#discord {
    background-color: blue;
    width: 90%;
    height: 300px;
}

#meetings {
    background-color: green;
    width: 90%;
    height: 500px;
}

#contact {
    background-color: brown;
    width: 90%;
    height: 300px;
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    #batman-building {
        width: 20%;
        height: 70%;
    }
    #parthanon {
        right: 2%;
        width: 30%;
        height: 25%;
    }
    .extra-buildings {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    }
    #ryman {
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 40%;
    height: 35%;
    background-color: teal;
    }
    #extra-building1 {
    background-color: black;
    }
}
