* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    overflow-y: scroll;
}

.city-heading {
    background-color: blue;
    height: 80%;
}

.main-buildings {
    width: 100%;
    height: 100%;
}

.other-pages {
    background-color: green;
    height: 10%;
}

.main-body {
    background-color: pink;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .extra-buildings {
    height: 100%;
    width: 100%;
    }
    #extra-building1 {
    background-color: black;
    }
}
